streamlit==1.33.0
tensorflow-cpu==2.11.0
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
joblib==1.2.0
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.13.1
sentence-transformers==2.2.2
faiss-cpu==1.7.4
sqlite-utils==3.33
